.Phonebook{
    background-color: #659AA6;
    width: 100%;
    height: 90vmin;
    align-items: center;
}
#mb-3{
    font-size: calc(3vmin);;
}

#filt_bar{
    width: 30vw;
}

#Addinfo_phone{
    position: absolute;
    left:60%;
    top:40vh;
    width:28vw;
    min-height: 30vh; 
}

#Edit_phone{
    position: absolute;
    left:60%;
    top:40vh;
    width:28vw;
    min-height: 30vh; 
}

#title_h3_phonebook{
    /* background-color: cyan; */
    left: 20vw;
    width: 30vw;    
}
.book{
    position: absolute;
    left: 0;
    border: solid 5px #013440;
    width: 42vw;
    max-height: 53vh;
    
    background-color:#659AA6;
    justify-items: start;
    -ms-overflow-style: none;
    scrollbar-width: none;
    overflow-y: scroll;
    margin-left: 4vw;
    margin-top: 0.1vh;
}

.book::-webkit-scrollbar {
    display: none;
}

#ul{
    /* background-color: cyan; */
    position: flex;
    left: 0vw;
    list-style: none;
    width: 40vw;
}

.book_item{
    position: relative;
    left: 2.5vw;
    width: 35vw;
}

.Phone_Button{
    width: 4.5vw;
}

.Card_Header{
    font-size: calc(3vmin);;
}